<div>
  <header>
    <h4>Gestión posts</h4>
    <div class="account">
      <img src="../../../assets/user.png" width="32" height="32"/>
      <div class="info-user">
        <h6>Juan David</h6>
        <span>Admin</span>
      </div>
    </div>
  </header>
  <nav>
    <h5> 🔼 Publicaciones</h5>
    <ul>
      <li>
        <svg
          width="24px"
          height="24px"
          stroke-width="1.5"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          color="#00a6ed"
        >
          <path
            d="M17 21H7a4 4 0 01-4-4v-6.292a4 4 0 011.927-3.421l5-3.03a4 4 0 014.146 0l5 3.03A4 4 0 0121 10.707V17a4 4 0 01-4 4zM9 17h6"
            stroke="#00a6ed"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
        <a routerLink="home">Publicaciones</a>
      </li>
      <li>
        <svg
          width="24px"
          height="24px"
          stroke-width="1.5"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          color="#00a6ed"
        >
          <path
            d="M9 12h3m3 0h-3m0 0V9m0 3v3M11.7 1.173a.6.6 0 01.6 0l8.926 5.154a.6.6 0 01.3.52v10.307a.6.6 0 01-.3.52L12.3 22.826a.6.6 0 01-.6 0l-8.926-5.154a.6.6 0 01-.3-.52V6.847a.6.6 0 01.3-.52L11.7 1.174z"
            stroke="#00a6ed"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path>
        </svg>
        <a routerLink="/add">Agregar post</a>
      </li>
    </ul>
  </nav>
  <main>
    <div *ngIf="url === '/posts'">
      <span>oe</span>
    </div>
    <router-outlet></router-outlet>
  </main>
</div>
